{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "if",
          "include",
          "mixin",
          "rules"
        ]
      }
    ],
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": [
          "inside-parens"
        ]
      }
    ]
  }
}
