@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1149px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: 1149px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1150px) {
    @content;
  }
}

@mixin retina2 {
  @media (min-resolution: 2dppx) {
    @content;
  }
}

// @mixin background-webp ($image, $ext) {
//   @supports (background-image: "#{image}.webp") {
//     background-image: "#{image}.webp";
//   }

//   @supports not (background-image: $webp) {
//     background-image: "#{image}.#{ext}";
//   }
// }

// @mixin background ($image, $ext: "jpg") {
//   background-repeat: no-repeat;

//   @include background-webp("../img/#{$image}", $ext);

//   @if $retina {
//     @include retina2 {
//       @include background-webp("../img/#{$image}@2x", $ext);
//     }
//   }
// }
