$font-family: "Open Sans", "Helvetica", sans-serif;
$font-size: 17px;
$line-height: 24px;
$black: #000000;
$charcoal: #444444;
$white: #ffffff;
$downy: #63d1bb;
$downy-dark: #62d1ba;
$white-smoke: #f1f1f1;
$silver: #c6c6c6;
$whisper: #ececec;
$puerto-rico: #46c1ae;
$puerto-rico-dark: #56c3b2;
$snow: #f9f9f9;
