$font-family: "Open Sans", "Helvetica", sans-serif;
$font-size: 17px;
$line-height: 24px;
$black: #000000;
$black-light: #444444;
$white: #ffffff;
$turquoise: #63d1bb;
$turquoise-dark: #56c3b2;
$turquoise-check: #62d1ba;
$gray: #f1f1f1;
$gray-light: #c6c6c6;
$silver: #ececec;
$turquoise-link: #46c1ae;
