.advantages {
  padding: 32px 30px 29px;

  @include tablet {
    padding: 58px 50px 83px;
  }

  @include desktop {
    padding: 68px 225px 90px;
  }
}

.advantages__title {
  margin: 0;
  font-weight: 700;

  @include mobile {
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 30px;
  }

  @include tablet {
    margin-bottom: 41px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-bottom: 39px;
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 500px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  @include tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include tablet-desktop {
    row-gap: 55px;
  }
}

.advantages__item {
  position: relative;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--flower {
    &::before {
      top: 0;
      left: 9px;
      width: 33px;
      height: 38px;
      background-image: url("../img/advantage-flower.svg");
    }
  }

  &--ball {
    &::before {
      top: 2px;
      left: 2px;
      width: 35px;
      height: 34px;
      background-image: url("../img/advantage-ball.svg");
    }
  }

  &--money {
    &::before {
      top: 0;
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../img/advantage-money.svg");
    }
  }

  &--rocket {
    &::before {
      top: 3px;
      left: -5px;
      width: 55px;
      height: 23px;
      background-image: url("../img/advantage-rocket.svg");
    }
  }

  &--heart {
    &::before {
      top: 5px;
      left: 6px;
      width: 34px;
      height: 27px;
      background-image: url("../img/advantage-heart.svg");
    }
  }

  &--box {
    &::before {
      top: 2px;
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../img/advantage-box.svg");
    }
  }

  @include mobile {
    padding-top: 54px;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tablet-desktop {
    font-size: 20px;
    line-height: 22px;
    padding-top: 56px;
    padding-right: 20px;

    &--flower {
      order: 1;
    }

    &--ball {
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--box {
      order: 6;
    }
  }
}
