.button {
  display: block;
  box-sizing: border-box;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  font-family: inherit;
  color: $charcoal;
  background-color: $white;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $charcoal;

  &:hover {
    background-color: $charcoal;
    color: $white;
  }

  &:active {
    background-color: $charcoal;
    color: rgba($white, 0.3);
  }

  &--primary {
    padding: 18px 67px 18px 68px;
    color: $white;
    background-color: $downy;
    border: none;
    cursor: pointer;
  }
}
