.choose-form {
  display: grid;

  @include tablet-desktop {
    justify-content: center;
  }
}

.choose-form__radio-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  margin-bottom: 31px;

  @include tablet-desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
