.features {
  padding: 0;
  list-style-type: none;

  @include tablet-desktop {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.features__link {
  display: block;
  padding: 24px 110px 31px 31px;
  color: $white;
  font-weight: 700;
  background-color: $downy;
  line-height: 24px;

  @include mobile {
    font-size: 19px;
  }

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
    padding-left: 37px;
  }
}

.features__item {
  @include mobile {
    &:nth-child(2n) .features__link {
      background-color: $puerto-rico-dark;
    }
  }

  @include tablet-desktop {
    &:nth-child(4n-1) .features__link,
    &:nth-child(4n-2) .features__link {
      background-color: $puerto-rico-dark;
    }
  }
}
