.form {
  padding: 15px 30px 55px 27px;

  @include tablet-desktop {
    padding: 0;
  }
}

.form__group {
  padding: 0;
  border: none;
  margin-bottom: 29px;

  &:first-child .form__label:not(:last-child) {
    @include tablet-desktop {
      margin-bottom: 22px;
    }
  }

  &--name {
    margin-bottom: 32px;
  }

  &--name .form__text {
    padding-left: 0;
  }

  &--name .form__title {
    margin-bottom: 28px;
  }

  &:nth-child(n + 3) .form__label {
    padding: 0;
    padding-left: 3px;

    @include mobile {
      flex-direction: column;
    }

    @include tablet-desktop {
      align-items: center;
      margin-bottom: 3px;
    }
  }

  &--name .form__labels-wrapper {
    display: grid;
    gap: 21px;
  }

  &--phone {
    margin-bottom: 34px;
  }

  &--phone .form__title {
    margin-bottom: 0;
  }

  &--phone .form__container {
    @include tablet {
      padding-top: 44px;
      padding-bottom: 10px;
    }
  }

  &--mail {
    margin-bottom: 35px;
  }

  &--mail .form__title {
    margin-bottom: 1px;
  }

  &--mail .form__container {
    @include tablet {
      padding-top: 9px;
      padding-bottom: 48px;
    }
  }

  &--text {
    margin-bottom: 2px;
  }

  &--text .form__title {
    margin-bottom: 20px;
  }

  @include tablet-desktop {
    display: grid;
  }

  @include tablet {
    grid-template-columns: 24.5% 75%;
    padding: 49px 50px 49px;
    margin-bottom: 0;
  }

  @include desktop {
    grid-template-columns: 13.6% 86.4%;
    padding: 61px 225px 19px 112px;

    &:nth-child(2) .form__container {
      display: grid;
      grid-template-columns: 112px 789px;
      padding: 48px 111px 50px;
    }

    &--name {
      padding: 49px 225px 13px 112px;
    }

    &--phone .form__container,
    &--mail .form__container {
      display: grid;
      grid-template-columns: 112px 702px;
      padding: 47px 111px 0;
    }

    &--mail .form__container {
      padding: 19px 111px 50px;
    }

    &--text {
      padding: 48px 225px 42px 112px;
    }
  }

  &--color {
    @include tablet-desktop {
      display: block;
      padding: 0;
      margin: 0;
      background-color: $white-smoke;
    }
  }
}

.form__group--color .form__container,
.form__group:nth-child(3),
.form__group:nth-child(5n + 1) {
  @include mobile {
    border-top: 1px solid $downy-dark;
  }
}

.form__container {
  padding: 0;
  border: none;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 48px 50px 50px;
  }
}

.form__title {
  margin: 0 0 17px;
  line-height: 18px;
  font-weight: 700;
  color: $downy;
  text-transform: uppercase;

  @include mobile {
    padding-left: 4px;
    padding-right: 21px;
  }

  @include tablet-desktop {
    padding: 0;
    margin-top: 18px;
    margin-bottom: 0;
    float: left;
  }
}

.form__labels-wrapper {
  &--grid {
    display: grid;

    @include mobile {
      gap: 15px;
    }

    @include tablet {
      grid-template-columns: 52% 48%;
    }

    @include desktop {
      grid-template-columns: repeat(3, 263px);
    }

    @include tablet-desktop {
      row-gap: 22px;
    }
  }
}

.form__label {
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-bottom: 13px;

  @include tablet-desktop {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.form__checker {
  position: relative;
  appearance: none;
  margin: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }

  &[type="radio"]::before {
    width: 42px;
    height: 42px;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border: 2px solid $charcoal;
    background-color: $white;
    border-radius: 50%;

    @include tablet-desktop {
      width: 52px;
      height: 52px;
    }

    @include tablet {
      left: 5px;
    }
  }

  &[type="radio"]:checked::after {
    top: 50%;
    left: 14px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background-color: $downy-dark;
    border-radius: 50%;

    @include tablet-desktop {
      left: 20px;
      width: 23px;
      height: 23px;
    }

    @include desktop {
      left: 17px;
    }
  }

  &[type="checkbox"]::before {
    width: 38px;
    height: 38px;
    top: 50%;
    left: 2px;
    background-color: transparent;
    border: 2px solid $charcoal;
    transform: translateY(-50%);

    @include tablet-desktop {
      width: 52px;
      height: 52px;
    }

    @include tablet {
      left: 0;
    }
  }

  &[type="checkbox"]:checked::after {
    width: 38px;
    height: 38px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/sprite.svg#tick-checkbox");
    background-repeat: no-repeat;
    background-size: 23px 16px;
    background-position: 0 50%;

    @include tablet-desktop {
      background-size: 32px 22px;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible::before {
    outline: 3px solid $downy-dark;
  }

  &:hover::before {
    border: 2px solid $downy-dark;
  }

  &:active::before {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.form__field {
  padding: 17px 8px 16px 0;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
  background-color: transparent;
  font-size: 17px;
  color: $charcoal;
  flex-grow: 1;

  @include tablet-desktop {
    padding-left: 16px;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
    letter-spacing: 0.5px;

    @include tablet-desktop {
      font-size: 19px;
    }
  }

  &:hover,
  &:active {
    box-shadow: inset 0 -2px 0 $downy-dark;

    + .form__icon {
      fill: $downy-dark;
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 2px solid $downy-dark;
  }

  &--icon {
    padding-right: 40px;
    padding-bottom: 18px;
  }

  &--phone::placeholder {
    letter-spacing: -0.5px;
  }

  &--email {
    padding-bottom: 16px;
  }

  &--text {
    box-sizing: border-box;
    min-height: 142px;
    width: 100%;
    margin-left: 2px;
    padding: 17px 8px 16px 13px;
    border: 2px solid $charcoal;
    box-shadow: none;
    resize: none;
    font-family: $font-family;

    &::placeholder {
      letter-spacing: 0;
    }

    &:hover {
      border: 2px solid $downy-dark;
      box-shadow: none;
    }

    @include tablet {
      padding: 15px 8px 16px 14px;
    }

    @include desktop {
      padding: 16px 8px 16px 16px;
    }
  }
}

.form__icon {
  position: absolute;
  top: 15px;
  right: 5px;
  opacity: 0.2;

  @include tablet {
    right: 26px;
  }

  &--mail {
    top: 18px;
    right: 3px;

    @include tablet {
      right: 22px;
    }
  }
}

.form__text {
  display: block;
  padding-left: 64px;
  line-height: 18px;
  font-weight: 700;
  font-size: 17px;

  @include tablet-desktop {
    padding-left: 84px;
    padding-right: 27px;
    font-size: 19px;
  }
}

.form__comment {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;

  @include tablet-desktop {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit {
  display: flex;

  @include mobile {
    flex-direction: column;
    padding-left: 2px;
  }

  @include tablet-desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @include tablet {
    padding: 0 50px 1px;
  }

  @include desktop {
    padding: 0 225px;
  }
}

.form__button {
  padding: 15px 29px 14px;
  letter-spacing: -0.5px;

  @include tablet-desktop {
    margin-right: 30px;
  }
}
