.header-subject {
  background-color: $white-smoke;
}

.header-subject__container {
  padding: 73px 30px;
  text-align: center;

  @include desktop {
    padding: 30px 30px 92px;
  }
}

.header-subject__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}
