.header-subject {
  background-color: $white-smoke;
  padding: 73px 41px;
  text-align: center;
}

.header-subject__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}
