.hero {
  position: relative;
  min-height: 400px;

  @include mobile {
    background: $snow url("../img/hero-bg.jpg") no-repeat center -18px;

    @include retina2 {
      background: $snow url("../img/hero-bg@2x.jpg") no-repeat center -18px;
      background-size: 320px auto;
    }
  }

  @include tablet {
    &::after {
      content: "";
      position: absolute;
      height: 24px;
      width: 100%;
      bottom: -14px;
      left: 0;
      background-image: url("../img/wave-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  @include tablet-desktop {
    background: $snow url("../img/hero-bg-desktop.jpg") no-repeat center -65px;

    @include retina2 {
      background: $snow url("../img/hero-bg-desktop@2x.jpg") no-repeat center -65px;
      background-size: 768px auto;
    }
  }

  @include desktop {
    background-position: center -73px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    min-height: 678px;
  }

  @include desktop {
    min-height: 670px;

    &::after {
      content: "";
      position: absolute;
      height: 34px;
      width: 1150px;
      left: 0;
      bottom: -20px;
      background-image: url("../img/wave-desktop-main.svg");
      background-repeat: repeat-x;
    }
  }
}

.hero__title {
  flex-grow: 1;
  margin: 0;
  padding: 72px 30px 120px;
  font-size: 27px;
  font-weight: 700;
  text-align: center;

  @include mobile {
    font-size: 27px;
    line-height: 30px;
  }

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    padding-top: 91px;
  }

  @include desktop {
    padding: 84px 70px 120px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  margin: 0;

  @include tablet-desktop {
    margin: 0 50px;
  }
}
