.main-header {
  position: relative;
  min-height: 79px;

  @include desktop {
    min-height: 89px;
  }
}

.main-header__logo {
  display: block;
  padding: 22px 30px;
  text-align: center;

  @include tablet {
    position: absolute;
    left: 50px;
    padding: 22px 0 22px;
  }

  @include desktop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
