.main-nav {
  text-align: center;
}

.main-nav__wrapper {
  text-align: left;

  @include tablet {
    display: grid;
    grid-template-columns: 0.93fr 1fr;
    grid-template-areas: ". user"
      "list text";
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 24px;
  z-index: 2;
  height: 28px;
  width: 40px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;

  @include tablet-desktop {
    display: none;
  }
}

.main-nav--closed {
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    width: 20px;
    height: 2px;
    background-color: #231f20;
    box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
  }

  .main-nav__wrapper {
    @include mobile {
      display: none;
    }
  }
}

.main-nav--opened {
  .main-nav__toggle {
    right: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 7px;
      width: 28px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav__wrapper {
    @include mobile {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
}

.main-nav--no-js {
  @include mobile {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      display: block;
    }
  }
}

.main-nav__site-list,
.main-nav__user-list,
.main-nav__sale-new-list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-content: flex-start;
}

.main-nav__site-list {
  @include tablet-desktop {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    grid-area: list;
    align-items: center;
  }

  @include tablet {
    background-color: $snow;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .main-nav__item:not(:last-child) {
      margin-right: 26px;
    }
  }

  @include desktop {
    padding-left: calc(50% - 560px);
    width: calc(50% - 100px);
  }

  &--dark {
    @include tablet {
      background-color: $white-smoke;
    }
  }

  .main-nav__item:not(:last-child) {
    @include desktop {
      box-shadow: 1px 0 0 $whisper;
    }
  }
}

.main-nav__user-list {
  @include tablet {
    grid-area: user;
    padding-right: 50px;
    justify-self: flex-end;
  }

  @include tablet-desktop {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    padding-right: calc(50% - 560px);
    max-width: calc(50% - 100px);
  }
}

.main-nav__sale-new-list {
  @include mobile-tablet {
    display: none;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(50% - 560px);
    width: 50%;
    background-color: $snow;
    font-size: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &--dark {
    @include desktop {
      background-color: $white-smoke;
    }
  }

  .main-nav__link {
    padding: 20px 26px 20px 36px;
    min-height: 30px;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 28px 20px 28px 76px;
  font-weight: 700;
  color: inherit;
  background-color: $white;
  box-shadow: 0 1px 0 $whisper, inset 0 1px 0 $whisper;

  @include mobile {
    font-size: 17px;
  }

  @include tablet-desktop {
    padding: 0;
    min-height: 88px;
    min-width: 83px;
    background-color: inherit;
    box-shadow: none;
  }

  &--icon {
    @include tablet-desktop {
      box-sizing: border-box;
      box-shadow: inset 1px 0 0 $whisper;
      padding: 33px 0 33px 83px;
      font-size: 17px;
    }

    @include desktop {
      padding: 33px 38px 33px 85px;
    }
  }

  &--small {
    @include tablet {
      font-size: 15px;
    }

    @include tablet-desktop {
      box-sizing: border-box;
      padding: 20px 10px 20px 0;
      min-height: 40px;
      line-height: 24px;
    }

    @include desktop {
      padding: 33px 35px 33px 35px;
      font-size: 17px;
    }
  }

  &--without-text {
    @include desktop {
      padding: 33px 0 33px 83px;
    }
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 35px;

  @include tablet {
    left: 32px;
  }
}

.main-nav__link-text {
  @include tablet-desktop {
    @include visually-hidden;
  }
}

.main-nav__delivery-text {
  @include mobile {
    @include visually-hidden;
  }

  @include tablet-desktop {
    margin: 0;
    padding: 20px 50px 20px;
    grid-area: text;
    text-align: end;
    background-color: $snow;
    font-size: 15px;
    color: $charcoal;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &--dark {
      background-color: $white-smoke;
    }
  }

  @include desktop {
    box-sizing: border-box;
    width: 50%;
    padding-right: calc(50% - 524px);
  }
}
