.main-footer {
  background-color: $white-smoke;
}

.main-footer__container {
  display: grid;

  @include mobile {
    justify-content: center;
    padding: 5px 30px 32px;
  }

  @include tablet-desktop {
    grid-template-columns: 0.76fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 50px 50px 58px;
  }

  @include tablet {
    grid-template-columns: 0.64fr 1fr 1fr;
  }
}

.main-footer__logo {

  justify-self: flex-start;

  &:hover .main-footer__icon {
    fill: $puerto-rico;
  }

  &:active .main-footer__icon {
    fill: $puerto-rico;
    opacity: 0.3;
  }

  @include mobile {
    display: none;
  }
}

.main-footer__social {
  @include mobile {
    position: relative;
    margin: 23px 0 45px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 260px;
      bottom: -26px;
      background-color: $whisper-color;
    }
  }

  @include tablet-desktop {
    margin: 0;
  }
}

.main-footer__copyright {
  margin: 0;
}
