.options__item {
  display: grid;
  grid-template-columns: 38% 62%;
  padding: 9px 0 11px;
  font-size: 15px;
  line-height: 20px;
  color: $charcoal;
  border-bottom: 1px solid $whisper;

  @include tablet {
    grid-template-columns: 29% 71%;
    padding-top: 8px;
  }

  @include desktop {
    grid-template-columns: 34% 66%;
    padding-top: 8px;
  }
}

.options__title {
  padding-right: 15px;
}

.options__description {
  margin: 0;
}
