.order {
  @include tablet {
    padding: 69px 0 50px;
  }

  @include desktop {
    padding: 98px 0 50px;
  }
}

.order__text {
  margin: 0;
  padding: 17px 30px 13px;
  color: $charcoal;
  font-size: 13px;
  line-height: 24px;

  @include tablet {
    padding: 0 50px;
    margin-bottom: 13px;
  }

  @include tablet-desktop {
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    padding: 0 225px;
    margin: 0 auto;
  }
}
