.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  font-family: $font-family;
  color: $black;
  font-size: $font-size;
  line-height: $line-height;
}
