@use "../global/bootstrap.scss";

.page {
  height: 100%;
}

.page__body {
  width: 320px;
  height: 100%;
  margin: 0;
  font-family: bootstrap.$font-family;
  color: bootstrap.$black;
  font-size: bootstrap.$font-size;
  line-height: bootstrap.$line-height;
}
