.popular {
  position: relative;
  padding: 31px 30px 41px;

  &::after {
    content: "";
    position: absolute;
    background-repeat: repeat-x;
  }

  @include mobile {
    &::after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-image: url("../img/zigzag-line-phone.svg");
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 44% 1fr 0.7fr;
    grid-template-areas: "title title subtitle"
      "description img img"
      "list img img"
      "price img img"
      "button img img";
    row-gap: 28px;
    column-gap: 40px;
    align-items: center;
    padding: 55px 50px 67px;

    &::after {
      bottom: 0;
      left: -5px;
      width: 100%;
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }
  }

  @include desktop {
    display: grid;
    grid-template-columns: 175px 292px 1fr 525px;
    grid-template-rows: repeat(5, min-content);
    padding: 75px 50px 96px;

    &::after {
      bottom: 0;
      left: 50px;
      width: calc(100% - 100px);
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-position: -55px center;
    }
  }
}

.popular__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 5px;

  @include tablet {
    grid-area: title;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-top: 61px;
    margin-bottom: 36px;
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.popular__subtitle {
  margin: 0;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $downy;
  text-transform: uppercase;

  @include mobile {
    br {
      display: none;
    }
  }

  @include tablet {
    grid-area: subtitle;
    margin: 0;
    padding-right: 5px;
    line-height: 17px;
    letter-spacing: 0.1px;
    text-align: center;
  }

  @include desktop {
    grid-column: 1 / 2;
    margin-top: 70px;
    padding-right: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1px;
  }
}

.popular__description {
  margin: 0;
  margin-bottom: 17px;
  font-size: 15px;
  color: $charcoal;
  line-height: 24px;

  @include tablet {
    grid-area: description;
    margin: 0;
    padding: 9px 0 0 0;
  }

  @include desktop {
    grid-column: 2 / 3;
    margin-bottom: 53px;
  }

  @include tablet-desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.popular__list {
  margin: 0;
  margin-bottom: 28px;

  @include tablet {
    grid-area: list;
    margin: 0;
    padding-top: 12px;
  }

  @include desktop {
    grid-column: 2 / 3;
    margin-bottom: 109px;
  }
}

.popular__images {
  margin-bottom: 27px;

  @include mobile {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  @include tablet {
    grid-area: img;
    margin: 0;
    align-self: flex-end;
  }

  @include desktop {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.popular__image {
  display: block;
  margin: 0 auto;
}

.popular__price {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  color: $charcoal;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;

  @include tablet {
    grid-area: price;
    margin: 0;
    margin-right: 5px;
    padding-top: 31px;
    letter-spacing: 0;
    font-size: 20px;
  }

  @include desktop {
    grid-column: 2 / 3;
    margin-bottom: 32px;
    font-size: 20px;
    letter-spacing: 0.1px;
  }
}

.popular__button {
  padding: 15px 20px;

  @include tablet-desktop {
    font-size: 17px;
  }

  @include tablet {
    margin-top: 5px;
    padding-bottom: 14px;
  }

  @include desktop {
    grid-column: 2 / 3;
  }
}
