.production {
  padding: 15px 30px 55px;

  @include tablet {
    padding: 0 50px 64px;
  }

  @include desktop {
    padding: 0 50px 105px;
  }
}

.production__wrapper {
  background-color: $white;
  border: 1px solid $whisper;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "img title"
      "img text"
      "img button";
  }
}

.production__title {
  margin: 21px 13px 26px 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @include tablet-desktop {
    font-size: 20px;
  }

  @include desktop {
    margin: 96px 110px 27px 79px;
  }
}

.production__image {
  @include tablet {
    order: -1;
  }

  @include desktop {
    grid-area: img;
  }
}

.production__description {
  margin: 32px 32px 39px;
  color: $charcoal;
  font-size: 13px;
  line-height: 24px;

  @include tablet-desktop {
    line-height: 30px;
  }

  @include desktop {
    margin: 0 36px 51px 79px;
    font-size: 15px;
  }
}

.production__button {
  margin: 0 33px 34px;
  padding: 15px 20px;

  @include tablet-desktop {
    font-size: 17px;
  }

  @include desktop {
    margin: 0 57px 60px 80px;
  }
}
