.product {
  padding: 30px 30px 15px;

  @include tablet {
    padding: 83px 50px 53px;
  }

  @include desktop {
    padding: 132px 50px 57px;
  }
}

.product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include mobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 29px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.product__item {
  display: grid;

  &:hover .product__content {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product__content {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @include mobile {
    grid-template-rows: min-content 1fr;
    max-width: 260px;
  }

  @include tablet {
    grid-template-columns: auto 1fr;
  }

  &:not(:last-child) {
    @include tablet {
      margin-bottom: 54px;
    }
  }

  @include desktop {
    grid-template-rows: min-content 1fr;
  }
}

.product__image {
  display: block;
}

.product__content {
  display: grid;
  grid-template-rows: 1fr min-content;
  padding: 27px 27px 26px;
  border: 1px solid $whisper;

  @include tablet {
    padding: 27px 33px 26px 32px;
  }

  @include desktop {
    padding: 27px 31px 24px 27px;
  }
}

.product__link {
  margin: 0 auto;
  color: inherit;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $downy-dark;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @include tablet-desktop {
    font-size: 20px;
  }
}

.product__description {
  margin: 0;
  margin-bottom: 17px;
  color: $charcoal;
  font-size: 13px;
  line-height: 30px;

  @include tablet {
    font-size: 15px;
  }

  @include desktop {
    margin-bottom: 12px;
    font-size: 15px;
  }
}

.product__order {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid $whisper;
}

.product__price {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
  font-weight: 700;

  @include tablet {
    font-size: 17px;
  }

  @include desktop {
    letter-spacing: 1px;
  }
}

.product__icon {
  &:hover {
    fill: $downy;
  }

  &:active {
    fill: $downy;
    opacity: 0.3;
  }
}

.product__button {
  &:focus-visible {
    outline: 2px solid $downy-dark;
  }
}
