.product {
  padding: 30px 30px 15px;

  @include tablet {
    padding: 67px 50px 53px;
  }

  @include desktop {
    padding: 111px 50px 57px;
  }
}

.product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include mobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 29px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.product__item {
  @include mobile {
    max-width: 260px;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &:not(:last-child) {
    @include tablet {
      margin-bottom: 54px;
    }
  }
}

.product__image {
  display: block;
}

.product__content {
  padding: 27px 28px 26px;
  border: 1px solid $whisper;
}

.product__link {
  margin: 0 auto;
  color: inherit;
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @include tablet-desktop {
    font-size: 20px;
  }
}

.product__description {
  margin: 0;
  margin-bottom: 17px;
  color: $charcoal;
  font-size: 13px;
  line-height: 30px;

  @include tablet {
    font-size: 15px;
  }
}

.product__order {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid $whisper;
}

.product__price {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
  font-weight: 700;

  @include tablet {
    font-size: 17px;
  }
}
