.radio-button__text {
  box-sizing: border-box;
  display: inline-block;
  padding: 18px 22px;
  min-height: 52px;
  min-width: 82px;
  line-height: 16px;
  font-weight: 700;
  border: 2px solid rgba($charcoal, 0.1);
  text-align: center;
  cursor: pointer;

  @include tablet-desktop {
    min-width: 112px;
    padding: 17px 22px 15px;
  }
}

.radio-button__input {
  &:checked + .radio-button__text {
    border: 2px solid $downy-dark;
  }

  &:hover + .radio-button__text {
    border: 2px solid rgba($charcoal, 0.3);
  }
}
