.reviews {
  padding: 29px 30px 45px;

  @include tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @include tablet {
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-bottom: 39px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;

  @include tablet-desktop {
    grid-column: 1 / -1;
  }

  @include tablet {
    margin-bottom: 61px;
  }

  @include desktop {
    margin-bottom: 44px;
  }
}

.reviews__author {
  margin: 0;
  font-weight: 700;
}

.reviews__contact {
  margin: 0;
  margin-bottom: 30px;

  @include tablet-desktop {
    margin: 0;
  }
}

.reviews__link {
  line-height: 30px;
  color: $charcoal;
}

.reviews__toggles {
  @include tablet-desktop {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    justify-self: flex-end;
  }
}

.reviews__button {
  @include tablet-desktop {
    padding: 16px 30px;
    margin-bottom: 39px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }
}
