.reviews {
  position: relative;
  padding: 29px 30px 51px;

  &::after {
    content: "";
    position: absolute;
    background-repeat: repeat-x;
  }

  @include mobile {
    &::after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-image: url("../img/zigzag-line-phone.svg");
    }
  }

  @include tablet {
    padding: 79px 50px 132px;
    gap: 41px;

    &::after {
      bottom: 0;
      left: -5px;
      width: 100%;
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }
  }

  @include desktop {
    padding: 78px 50px 186px 224px;
    gap: 35px;
    background-position: 50px 0;

    &::after {
      bottom: 0;
      left: 50px;
      width: calc(100% - 100px);
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-position: -55px center;
    }
  }

  @include tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-image: url("../img/review-bg.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @include retina2 {
      background-image: url("../img/review-bg@2x.jpg");
    }
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @include tablet {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-bottom: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include tablet-desktop {
    grid-column: 1 / -1;
  }
}

.reviews__toggles {
  display: flex;
  margin-bottom: 37px;

  @include tablet-desktop {
    position: absolute;
    right: 50px;
  }

  @include tablet {
    bottom: 25%;
    margin-bottom: 0;
  }

  @include desktop {
    bottom: 35%;
    margin-bottom: 0;
  }
}

.reviews__toggle {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  min-height: 52px;
  padding: 0;
  background-color: $white;
  border: 1px solid $whisper;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%);
    mask: url("../img/sprite.svg#arrow-left");
    background-color: $black;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &:active::before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--next {
    transform: rotate(180deg);
  }

  @include tablet-desktop {
    min-width: 87px;
    border: none;
  }
}


.reviews__button {
  @include tablet {
    padding: 13px 36px;
  }

  @include desktop {
    padding: 16px 36px 13px 35px;
    align-self: start;
  }

  @include tablet-desktop {
    margin-bottom: 0;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }
}
